{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人空间</title>
    <script type="text/javascript">
        function f1() {
            var css = document.createElement('link');
            css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        }
    </script>
    <link rel="stylesheet" href={% static 'css/app.css' %}>
    <link rel="stylesheet" href={% static 'css/theme.css' %}>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand font-weight-bolder mr-3" href="workshop.html"><img src={% static 'img/logo.png' %}></a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault"
            aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto align-items-center">
            <form class="bd-search hidden-sm-down">
                <input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="search-input"
                       placeholder="Search..." autocomplete="off">
                <div class="dropdown-menu bd-search-results" id="search-results">
                </div>
            </form>
        </ul>
        <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="/workshop">创意工坊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/upload">上传我的</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/author">
                    <img class="rounded-circle mr-2" src={% static "img/av.png" %} width="30">
                    <span class="align-middle">个人空间</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <div class="container-fluid">
        <div style="width: 100%;overflow: hidden;">
            <div style="float:left;width: 50%;float: left;">
                <input class="form-control-file" type="file" name="file" id="uploadImage" onchange="showimg()">
                <div id="show_picture" onclick="getpoint(event)">
                    <img class="img-fluid" src="" alt="" id="img"/>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">选取的点</h5>
                        <h6 class="card-subtitle mb-2 text-muted">*最多只能选取5个点</h6>
                        <p class="card-text">
                        <form>
                            <div id="point1" style="display:none">
                                (<span id="X1_location"></span>,<span id="Y1_location"></span>)
                                <input type="radio" id="back1" name="front_back1" value="0"/>
                                <label for="back1">后景</label>
                                <input type="radio" id="front1" name="front_back1" value="1">
                                <label for="front1">前景</label>
                            </div>
                            <div id="point2" style="display:none">
                                (<span id="X2_location"></span>,<span id="Y2_location"></span>)
                                <input type="radio" id="back2" name="front_back2" value="0"/>
                                <label for="back2">后景</label>
                                <input type="radio" id="front2" name="front_back2" value="1">
                                <label for="front2">前景</label>
                            </div>
                            <div id="point3" style="display:none">
                                (<span id="X3_location"></span>,<span id="Y3_location"></span>)
                                <input type="radio" id="back3" name="front_back3" value="0"/>
                                <label for="back3">后景</label>
                                <input type="radio" id="front3" name="front_back3" value="1">
                                <label for="front3">前景</label>
                            </div>
                            <div id="point4" style="display:none">
                                (<span id="X4_location"></span>,<span id="Y4_location"></span>)
                                <input type="radio" id="back4" name="front_back4" value="0"/>
                                <label for="back4">后景</label>
                                <input type="radio" id="front4" name="front_back4" value="1">
                                <label for="front4">前景</label>
                            </div>
                            <div id="point5" style="display:none">
                                (<span id="X5_location"></span>,<span id="Y5_location"></span>)
                                <input type="radio" id="back5" name="front_back5" value="0"/>
                                <label for="back5">后景</label>
                                <input type="radio" id="front5" name="front_back5" value="1">
                                <label for="front5">前景</label>
                            </div>
                            <input type="button" value="提交" class="btn btn-success" onclick="upload_location(this)"/>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
            <div style="float:right;width: 50%;float: right;">
                <span>图片</span>
            </div>
        </div>
    </div>
</main>

<script src={% static "js/app.js" %}></script>
<script src={% static "js/theme.js" %}></script>
<script src={% static "js/upload.js" %}></script>
<script type="text/javascript" src="{% static "js/sign_js/jquery.min.js" %}"></script>
<script>
    function showimg() {
        var file = $("#uploadImage")[0].files[0];
        var formData = new FormData();
        formData.append("file", file);
        console.log(file);
        $.ajax({
            url: "/upload/",
            type: "post",
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            dataType: 'text',
            success: function () {
                var imgURL = URL.createObjectURL($("#uploadImage")[0].files[0]);
                //用attr将img的src属性改成获得的url
                $("#img").attr("src", imgURL);
                $("#show_picture").show();
            },
        });
    }

    //获取相对于当前所指向对象的位置坐标
    function rectClick(event) {
        return {x: event.offsetX, y: event.offsetY}
    }

    function getpoint(event) {
        var point = rectClick(event);
        if (!$("#X1_location").text()) {
            $("#X1_location").text(point.x);
            $("#Y1_location").text(point.y);
            $("#point1").css("display","block");
        } else if (!$("#X2_location").text()) {
            $("#X2_location").text(point.x);
            $("#Y2_location").text(point.y);
            $("#point2").css("display","block");
        } else if (!$("#X3_location").text()) {
            $("#X3_location").text(point.x);
            $("#Y3_location").text(point.y);
            $("#point3").css("display","block");
        } else if (!$("#X4_location").text()) {
            $("#X4_location").text(point.x);
            $("#Y4_location").text(point.y);
            $("#point4").css("display","block");
        } else if (!$("#X5_location").text()) {
            $("#X5_location").text(point.x);
            $("#Y5_location").text(point.y);
            $("#point5").css("display","block");
        }
    }

    //提交坐标
    function upload_location(self) {
        $.ajax({
            type: "post",
            url: "/upload/",
            data: {
                X1: $("#X1_location").text(),
                Y1: $("#Y1_location").text(),
                label1: $('input[type=radio][name=front_back1]:checked').val(),
                X2: $("#X2_location").text(),
                Y2: $("#Y2_location").text(),
                label2: $('input[type=radio][name=front_back2]:checked').val(),
                X3: $("#X3_location").text(),
                Y3: $("#Y3_location").text(),
                label3: $('input[type=radio][name=front_back3]:checked').val(),
                X4: $("#X4_location").text(),
                Y4: $("#Y4_location").text(),
                label4: $('input[type=radio][name=front_back4]:checked').val(),
                X5: $("#X5_location").text(),
                Y5: $("#Y5_location").text(),
                label5: $('input[type=radio][name=front_back5]:checked').val(),
            },
            success: function () {
                alert("提交成功")
            },
        });
    }

</script>
<!-- 版权要求，保存作者网站 -->
{% comment %}<footer class="footer pt-5 pb-5 text-center">

    <div class="container">

          <div class="socials-media">

            <ul class="list-unstyled">
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
            </ul>

          </div>

            <!--
              All the links in the footer should remain intact.
              You may remove the links only if you donate:
              https://www.wowthemes.net/freebies-license/
            -->
          <p>©  <span class="credits font-weight-bold">
            <a target="_blank" class="text-dark" href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/"><u>Pintereso Bootstrap HTML Template</u> by WowThemes.net.</a>
          </span>
          </p>


        </div>

    </footer>  {% endcomment %}
</body>

</html>
